#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home #home-title {
  display: flex;
  flex-direction: column;
  font-size: 150px;
}
#home #main-box {
  display: flex;
}