.LoginForm {
    background-color: #ededed;
    width: 20rem;
    height: 13rem;
}

.LoginFormTitle {
    background-color: #A593E0;
    width: 16rem;
    height: 5rem;
    
    font-size: 15px;
    text-align: center;
    color: white;
}

.Content{
    color:#566270;
    background-color: white;
    float: left;
    width: 12rem;
}

.ContentNickname{
    width: 20rem;
    background-color: #E0E3DA;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.CreateNickname{
    background-color: #566270;
    font-size: 15px;
    padding: 0.4rem;
    color: white;
}

