#login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 160px;
  background-color: #ECF0F1;
  border-radius: 5px;
}
#login-box #user-name {
  display: flex;
  align-items: flex-start;
  width: 209px;
  font-size: 12px;
  font-weight: 600;
  padding-left: 12px;
}
#login-box #button-box {
  margin-top: 10px;
}