.logo {
    height: 5rem;
    background-color: #4287f5;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #75aaff;
    height: 4rem;
}

.menu-item{
    display: inline-block;
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    transition: backgrond-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #93b3e6;
}

.menu-item:active, .menu-item.active {
    background-color: #8295b3;
}
